.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.navBlack{
    background-color: #111;
}